.notFound {
  height: 70vh;
  text-align: center;
 position: relative;
 .details{
    position: absolute;
    top:50%;
    left:40%;
  h1{
    font-size: 40px;
    font-weight: 400;
    color:#febd69;
  }
 }
 
}
