.checkout-form {
  padding: 20px;

  background-color: #f3f3f3;
  margin-bottom: 20px;
  margin-top: 50px;
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #111;
  }

  .checkout-form {
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
}
